#vaccines {
    display: none
}

.passenger-container{
    width: 80%;
    margin: 10px;
}

/*
#de {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/images/travel8.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.pas-card{
    margin: 20px;
}