.outbreaks{
    width: 100%;
	position: relative;
    box-sizing: border-box;
    flex-flow: column;
	margin: 0 auto;
    padding: 1% 10%;
    background-color:rgb(212, 214, 218);
}

.out-title{
    padding-top: 40px;
}

#newsBody {
    text-align: center;
}

#news-title {
    color: #34b;
    font-weight: 900;
    font-size: 24px;
}