#add_history_form {
    left: 5%;
}

#add_vaccine_head {
    left: 5%;
}

#file_upload_text {
    left: 12%;
    bottom: 38%;
}

.add_history {
    width: 40%;
}
/*
#he {
    height: 100%;
	width: 100vw;
    background-image: url('../../../public/images/travel5.jpeg');
	background-repeat: no-repeat;
 	background-size: cover;
}
*/
/*
#co {
	position: relative;
    box-sizing: border-box;
    flex-flow: column;
	margin: 0 auto;
    padding: 1% 10%;
    background-color: white;
}
*/