#color {
	color: red;
}

#travel_head {
	position: relative;
	margin-top: 2%;
	font-size: 30px;
}

#travel_table {
	position: absolute;
	top: 25%;
}

.vaccine-table{
	text-align: center;
    font-family: "Geneva, Verdana, sans-serif";
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;

}

.margin-90{
    width: 90%;
    margin: 0 auto !important;
}

.newss, .mapss{
	font-size: 15px;
	font-family: "Geneva, Verdana, sans-serif";
	text-align: center;
	position: relative;
    box-sizing: border-box;
    flex-flow: column;
    align-items: center;
	margin: 2% auto;
	margin-left: 2%;
	margin-right: 2%;
}
.outbreaksInfo{
	position: relative;
}